In [96]:
import numpy as np
import pandas as pd
df = pd.read_excel('D:\\Python\\study\\pythontest\\pandastest\\数据集\\student.xlsx')
df

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级  性别 是否接种  表现
0     1   陈一    12    90    95    90  一班   1    已  良好
1     2   周二    12    91   100    99  一班   2    是  优秀
2     3   张三    13    96    99    99  一班   1    否  优秀
3     4   李四    14    97    99    98  一班   2    已  优秀
4     5   王五    12    96    98    97  一班   1    是  良好
5     6   赵六    12    95    97    99  二班   2    是  良好
6     7   钱七    13    90    99    96  二班   1  NaN  良好
7     8   孙八    13    93    96    97  二班   2    是  良好
8     9   何九    14    94    97    95  二班   1    有  良好
9    10   顾十    12    96    96    96  二班   2    是  良好

In [97]:
df['性别']

0    1
1    2
2    1
3    2
4    1
5    2
6    1
7    2
8    1
9    2
Name: 性别, dtype: int64

In [98]:
gender_map={1:'男',2:'女'}
df['性别']=df['性别'].map(gender_map)
df

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种  表现
0     1   陈一    12    90    95    90  一班  男    已  良好
1     2   周二    12    91   100    99  一班  女    是  优秀
2     3   张三    13    96    99    99  一班  男    否  优秀
3     4   李四    14    97    99    98  一班  女    已  优秀
4     5   王五    12    96    98    97  一班  男    是  良好
5     6   赵六    12    95    97    99  二班  女    是  良好
6     7   钱七    13    90    99    96  二班  男  NaN  良好
7     8   孙八    13    93    96    97  二班  女    是  良好
8     9   何九    14    94    97    95  二班  男    有  良好
9    10   顾十    12    96    96    96  二班  女    是  良好

In [99]:
df['性别']

0    男
1    女
2    男
3    女
4    男
5    女
6    男
7    女
8    男
9    女
Name: 性别, dtype: object

In [100]:
df['数学等级']=df['5-数学'].map(lambda x:'优秀' if x>95 else '良好')
df

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种  表现 数学等级
0     1   陈一    12    90    95    90  一班  男    已  良好   良好
1     2   周二    12    91   100    99  一班  女    是  优秀   优秀
2     3   张三    13    96    99    99  一班  男    否  优秀   优秀
3     4   李四    14    97    99    98  一班  女    已  优秀   优秀
4     5   王五    12    96    98    97  一班  男    是  良好   优秀
5     6   赵六    12    95    97    99  二班  女    是  良好   优秀
6     7   钱七    13    90    99    96  二班  男  NaN  良好   优秀
7     8   孙八    13    93    96    97  二班  女    是  良好   优秀
8     9   何九    14    94    97    95  二班  男    有  良好   优秀
9    10   顾十    12    96    96    96  二班  女    是  良好   优秀

In [101]:
def score(x):
    score_class='良好'
    if x>95:
        score_class='优秀'
    return score_class
df['语文等级']=df['4-语文'].map(score)
df

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种  表现 数学等级 语文等级
0     1   陈一    12    90    95    90  一班  男    已  良好   良好   良好
1     2   周二    12    91   100    99  一班  女    是  优秀   优秀   良好
2     3   张三    13    96    99    99  一班  男    否  优秀   优秀   优秀
3     4   李四    14    97    99    98  一班  女    已  优秀   优秀   优秀
4     5   王五    12    96    98    97  一班  男    是  良好   优秀   优秀
5     6   赵六    12    95    97    99  二班  女    是  良好   优秀   良好
6     7   钱七    13    90    99    96  二班  男  NaN  良好   优秀   良好
7     8   孙八    13    93    96    97  二班  女    是  良好   优秀   良好
8     9   何九    14    94    97    95  二班  男    有  良好   优秀   良好
9    10   顾十    12    96    96    96  二班  女    是  良好   优秀   优秀

In [102]:
df.replace(['优秀','良好'],['优','良'])

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种 表现 数学等级 语文等级
0     1   陈一    12    90    95    90  一班  男    已  良    良    良
1     2   周二    12    91   100    99  一班  女    是  优    优    良
2     3   张三    13    96    99    99  一班  男    否  优    优    优
3     4   李四    14    97    99    98  一班  女    已  优    优    优
4     5   王五    12    96    98    97  一班  男    是  良    优    优
5     6   赵六    12    95    97    99  二班  女    是  良    优    良
6     7   钱七    13    90    99    96  二班  男  NaN  良    优    良
7     8   孙八    13    93    96    97  二班  女    是  良    优    良
8     9   何九    14    94    97    95  二班  男    有  良    优    良
9    10   顾十    12    96    96    96  二班  女    是  良    优    优

In [103]:
df

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种  表现 数学等级 语文等级
0     1   陈一    12    90    95    90  一班  男    已  良好   良好   良好
1     2   周二    12    91   100    99  一班  女    是  优秀   优秀   良好
2     3   张三    13    96    99    99  一班  男    否  优秀   优秀   优秀
3     4   李四    14    97    99    98  一班  女    已  优秀   优秀   优秀
4     5   王五    12    96    98    97  一班  男    是  良好   优秀   优秀
5     6   赵六    12    95    97    99  二班  女    是  良好   优秀   良好
6     7   钱七    13    90    99    96  二班  男  NaN  良好   优秀   良好
7     8   孙八    13    93    96    97  二班  女    是  良好   优秀   良好
8     9   何九    14    94    97    95  二班  男    有  良好   优秀   良好
9    10   顾十    12    96    96    96  二班  女    是  良好   优秀   优秀

In [104]:
df.replace(['已',np.nan],['是','否'])

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种  表现 数学等级 语文等级
0     1   陈一    12    90    95    90  一班  男    是  良好   良好   良好
1     2   周二    12    91   100    99  一班  女    是  优秀   优秀   良好
2     3   张三    13    96    99    99  一班  男    否  优秀   优秀   优秀
3     4   李四    14    97    99    98  一班  女    是  优秀   优秀   优秀
4     5   王五    12    96    98    97  一班  男    是  良好   优秀   优秀
5     6   赵六    12    95    97    99  二班  女    是  良好   优秀   良好
6     7   钱七    13    90    99    96  二班  男    否  良好   优秀   良好
7     8   孙八    13    93    96    97  二班  女    是  良好   优秀   良好
8     9   何九    14    94    97    95  二班  男    有  良好   优秀   良好
9    10   顾十    12    96    96    96  二班  女    是  良好   优秀   优秀

In [105]:
df[df['6-英语']>95]

   1-学号 2-姓名  3-年龄  4-语文  5-数学  6-英语  班级 性别 是否接种  表现 数学等级 语文等级
1     2   周二    12    91   100    99  一班  女    是  优秀   优秀   良好
2     3   张三    13    96    99    99  一班  男    否  优秀   优秀   优秀
3     4   李四    14    97    99    98  一班  女    已  优秀   优秀   优秀
4     5   王五    12    96    98    97  一班  男    是  良好   优秀   优秀
5     6   赵六    12    95    97    99  二班  女    是  良好   优秀   良好
6     7   钱七    13    90    99    96  二班  男  NaN  良好   优秀   良好
7     8   孙八    13    93    96    97  二班  女    是  良好   优秀   良好
9    10   顾十    12    96    96    96  二班  女    是  良好   优秀   优秀

In [119]:
df.query('6-英语 >95')

UndefinedVariableError: name '英语' is not defined

In [121]:
df.rename(columns={'6-英语':'english'},inplace=True)
df.query('english > 95')

   1-学号 2-姓名  3-年龄  4-语文  5-数学  english  班级 性别 是否接种  表现 数学等级 语文等级
1     2   周二    12    91   100       99  一班  女    是  优秀   优秀   良好
2     3   张三    13    96    99       99  一班  男    否  优秀   优秀   优秀
3     4   李四    14    97    99       98  一班  女    已  优秀   优秀   优秀
4     5   王五    12    96    98       97  一班  男    是  良好   优秀   优秀
5     6   赵六    12    95    97       99  二班  女    是  良好   优秀   良好
6     7   钱七    13    90    99       96  二班  男  NaN  良好   优秀   良好
7     8   孙八    13    93    96       97  二班  女    是  良好   优秀   良好
9    10   顾十    12    96    96       96  二班  女    是  良好   优秀   优秀

In [122]:
df.english> 95

0    False
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8    False
9     True
Name: english, dtype: bool

In [49]:
df[['1-学号','2-姓名','3-年龄']]

   1-学号 2-姓名  3-年龄
0     1   陈一    12
1     2   周二    12
2     3   张三    13
3     4   李四    14
4     5   王五    12
5     6   赵六    12
6     7   钱七    13
7     8   孙八    13
8     9   何九    14
9    10   顾十    12

In [51]:
df[['1-学号','2-姓名','3-年龄']].rename(columns={'1-学号':'ID','2-姓名':'name','3-年龄':'age'})

   ID name  age
0   1   陈一   12
1   2   周二   12
2   3   张三   13
3   4   李四   14
4   5   王五   12
5   6   赵六   12
6   7   钱七   13
7   8   孙八   13
8   9   何九   14
9  10   顾十   12